{% extends 'base.html' %}
{% block content %}
<style>  
/* @import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);   */
/* @import url(http://weloveiconfonts.com/api/?family=fontawesome);   */
body {   
    height: 100%; width: 100%;   
    background-color: #333;   
    color: whitesmoke;   
    font-size: 16px;   
    font-family: 'Poiret One', cursive;  
}   
.form-control {  
  border-radius: 0px;  
  padding: 1.3rem 1.5rem;  
    color: #495057;  
    background-color: #ffffff;  
    border-color: #f8f9fa;  
}  
.form-control:focus {  
    color: #495057;  
    background-color: #ffffff;  
    border:1px solid #b5b6b3;  
    outline: 0;  
    box-shadow: none;  
}  
.btn  {  
  background: #b5b6b3;  
  border: #b5b6b3;  
  padding: 0.7rem 4rem;  
}  
.btn:hover {  
  background: #b5b6b3;  
  border: #b5b6b3;  
  outline: 0;  
}  
btn:focus {  
  background: #b5b6b3;  
  border: #b5b6b3;  
  outline: 0;  
}  
.btn:active {  
  background: #b5b6b3;  
  border: #b5b6b3;  
  outline: 0;  
}  
.btn-primary:not(:disabled):not(.disabled).active {  
  background: #b5b6b3;  
  border: #b5b6b3;  
  outline: 0;  
}  
.btn-primary:not(:disabled):not(.disabled):active {  
  background: #b5b6b3;  
  border: #b5b6b3;  
  outline: 0;  
}  
.show > .btn-primary.dropdown-toggle {  
  background: #b5b6b3;  
  border: #b5b6b3;  
  outline: 0;  
}  
</style>  
<body>  
<section class="contact-from pt-4">  
<div class="container">  
                <div class="row">  
                    <div class="col-md-6 mx-auto text-center">  
                        <h2>  Contact Form </h2>  
                        <div class="divider bg-primary mx-auto"> </div>  
                        
                    </div>  
                </div>  
                <div class="row mt-5">  
                    <div class="col-md-8 mx-auto">  
                        <form _lpchecked="1" method="POST">  
                                {%csrf_token%}

                            <div class="row">  
                                <div class="col-md-6">  
                                    <div class="form-group">  
                                        <input type="text" class="form-control" placeholder="Enter Your name"name="nm">  
                                    </div>  
                                </div>  
                                <div class="col-md-6">  
                                    <div class="form-group">  
                                        <input type="email" class="form-control" placeholder="Enter Your email address"name="emil">  
                                    </div>  
                                </div>  
                                <div class="col-md-6">  
                                    <div class="form-group">  
                                        <input type="number" class="form-control" placeholder="Enter Phone number" name="num">  
                                    </div>  
                                </div>  
                                <div class="col-md-6">  
                                    <div class="form-group">  
                                        <input type="text" class="form-control" placeholder="Your address"name="location">  
                                    </div>  
                                </div>  
                                <div class="col-12">  
                                    <div class="form-group">  
                                <textarea rows="5" class="form-control" placeholder="What are you looking for?"name="comment"></textarea>  
                                    </div>  
                                </div>  
                            </div>  
                            <div class="text-center mt-3">  
                                <button class="btn btn-primary"> Submit </button>  
                            </div>  
                        </form>  
                    </div>  
                </div>  
            </div>  
  </div>  


{% endblock %}